[run]
source = gdshelpers/
omit = 
	*blender*

[report]
exclude_lines =
	pragma: no cover
		if __name__ == .__main__.:
		raise AssertionError
		raise NotImplementedError
		def _example*

show_missing = True
