# Pycharm
.idea/

# Python
__pycache__/
/dist/
/build/
/*.egg-info/

# Sphinx documentation
docs/_build/

# gdsHelpers
*.gds
*.oas
*.desc
*.dlw
*.dxf

# files corresponds to Blender
*.blend
*.tmp

# images
*.svg
*.svgz
*.png
*.pdf
*.eps

# coverage
.coverage
/cover/
